<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= person.name %></title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1><%= person.name %></h1>
        <a href="#intro" class="btn btn-default btn-lg"><%= person.label %></a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="intro" class="intro" style="background-color:#eeeeee">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2><%= person.aboutme.lead %></h2>
            <p class="lead"></br> 
                <%= person.aboutme.details %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
    
    <div id="contact" class="contact">
		<div class="col-md-6 col-md-offset-3 text-center" style="background-color:#eeeeee">
		<p class="lead">Contact Me:<br/></p>
		<a href="mailto:<%= person.email %>"><img src="/img/email.png" alt="Email"/></a>
        <% if (person.linkedin){ %>
            <a href="<%= person.linkedin %>"><img src="/img/linkedin.png" alt="LinkedIn"/></a>		
        <% } %>
		</div>	
    </div>



    <script>
        var bg = document.querySelector(".header");
        bg.style.backgroundImage = 'url("../img/<%= person.bg %>")';
    </script>
  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  </body>

</html>
